bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Animal-Sounds/.idea/encodings.xml
/.idea/.idea.Animal-Sounds/.idea/indexLayout.xml
/.idea/.idea.Animal-Sounds/.idea/vcs.xml
/.idea/.idea.Animal-Sounds/.idea/.gitignore
/.idea/.idea.Animal-Sounds/.idea/encodings.xml
/.idea/.idea.Animal-Sounds/.idea/indexLayout.xml
/.idea/.idea.Animal-Sounds/.idea/vcs.xml
/.idea/.idea.Animal-Sounds/.idea/.gitignore
